@mixin transparent-bg {
  content: "";
  opacity: brightness(.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
@mixin cover {
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}
@mixin bright {
  &:hover {
    filter: brightness(1);
  }
}
